<h1>Busqueda de un Pokemon</h1>
<input type="text" class="form-control" [(ngModel)]="nombreDeBusqueda"> 
<div class="w-100" >
    <div class="row">
        <div class="col">
            <br><br>
        </div>
    </div>
</div>

 <div class="row" infiniteScroll [infiniteScrollDistance]="2"  (scrolled)="mostrarMasPokemon()" >
     <div class="card col-md-3" style="width: 18rem;" *ngFor="let pokemon of datosAgrupadosDePokemones| search:nombreDeBusqueda:'name' ; let i = index">
        <img [src]="pokemon.sprites.front_default" class="card-img-top " [alt]="pokemon.sprites.front_default">
        <div class="card-body ">
            <h5 class="card-title "> {{pokemon['name']}}</h5>
            <h5>type: </h5>
            <ul  class="card-title">
                <li *ngFor="let tipo of pokemon.types">{{tipo.type.name}}</li>
            </ul>
            <button class="btn btn-outline-primary" [routerLink]="['/pokedetalles',pokemon.id]">Ver Mas ...</button>
            <button class="btn btn-outline-danger" (click)="agregarPokemon(pokemon.id)" >Añadir</button>
        </div>
    </div>


</div>
<button [ngClass]="'no-hidden'" *ngIf="showGoUpButton" class="btn btn-dark" (click)="scrollTop()">Ir hacia arriba</button>